*.o
.qmake.stash
debug/*.o
debug/.qmake.stash
BciSift.pro.user.*
BciSift
debug/BciSift
matching*.png
Plots/*.tiff
*.mat
BciSift.pro.user
Makefile*
*.cmake

CMakeCache.txt
CMakeFiles/
CMakeLists.txt
README.old.md
