*.o
.qmake.stash
debug/*.o
debug/.qmake.stash
BciSift.pro.user.*
BciSift
debug/BciSift
matching*.png
Plots/*.tiff
*.mat
BciSift.pro.user
Makefile*
*.cmake
!cmake/*.cmake  
build
CMakeCache.txt
CMakeFiles/
README.old.md
.vscode
kfr
BCISift
*.png